{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <h1><title>Project on disease prediction</title></h1>

    </head>
    <link rel="stylesheet" href="{% static 'mypro.css' %}">
    <body>
        <div class="header">
  <a href="#default" class="logo">Disease prediction</a>
  <div class="header-right">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    
  </div>
</div>

<div class="define">
I have builded a project on Disease prediction based on the symptoms i get from the user. I have choosed the supervised approach
in my project where algorithms which i have implemented are KNN, decision tree and random forest algorithm.
Then i have implemented this project in django framework.
</div>
       
    </body>
</html>